<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDbEndpoint" value="https://zoe.documents.azure.com:443/" />
    <add key="CosmosDbAuthKey" value="EsTEOZ1Du5c6PCjwc6H22SwPBrHstekoBBWRWvdSaU13758jftppB1JdtYUHuXVEA7Iw908yF9S9v67jdKOKbA==" />
    <add key="CosmosDbDatabaseName" value="personal" />
    <add key="CosmosDbCollectionId" value="money" />
    <add key="TestUserEmailFormat" value="seanianhale+{0}@gmail.com" />
    <add key="TestUserPhoneNumber" value="415-519-9771" />
  </appSettings>
</configuration>